In [1]:
import pandas as pd

/tmp/ipykernel_378955/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df = pd.read_csv('/fs5/p_masi/rudravg/MxIF_Vxm_Registered_V2/GCA020TIB_TISSUE01/registered_GCA020TIB_instances.csv')

In [3]:
df.head()

,Instance,Centroid_X,Centroid_Y,Mean_CD11B,Mean_CD20,Mean_CD3d,Mean_CD45,Mean_CD4,Mean_CD68,Mean_CD8,Mean_CgA,Mean_Lysozyme,Mean_NaKATPase,Mean_PanCK,Mean_SMA,Mean_Sox9,Mean_Vimentin,Mean_OLFM4
0,30,9722.766990,466.267961,0.848544,0.122330,0.085437,0.000000,0.139806,0.040777,0.159223,0.279612,0.029126,2.547573,14.182524,0.000000,0.349515,0.003883,0.0
1,19,9390.036269,455.940415,1.883420,0.041451,0.287565,0.000000,0.015544,0.132124,0.002591,0.282383,0.316062,11.810881,4.334197,0.000000,0.000000,0.000000,0.0
2,18,9259.240310,454.868217,4.000000,0.038760,0.000000,0.000000,0.000000,0.000000,0.170543,0.007752,0.201550,34.573643,2.976744,0.000000,0.000000,0.000000,0.0
3,16,8798.624460,456.034532,0.827338,0.000000,0.012950,38.781295,1.333813,27.353957,0.000000,0.000000,0.130935,0.000000,0.000000,0.000000,1.056115,2.565468,0.0
4,14,8855.792899,454.165680,1.911243,0.242604,0.213018,2.090730,0.116371,7.185404,0.625247,0.000000,0.246548,0.000000,0.000000,0.773176,0.410256,10.976331,0.0

In [4]:
df=df.sort_values('Instance')

In [5]:
df.head()

,Instance,Centroid_X,Centroid_Y,Mean_CD11B,Mean_CD20,Mean_CD3d,Mean_CD45,Mean_CD4,Mean_CD68,Mean_CD8,Mean_CgA,Mean_Lysozyme,Mean_NaKATPase,Mean_PanCK,Mean_SMA,Mean_Sox9,Mean_Vimentin,Mean_OLFM4
84,1,9432.198864,431.250000,3.454545,0.267045,0.202652,0.018939,0.994318,0.168561,0.196970,2.617424,0.962121,2.570076,37.600379,0.000000,2.386364,0.102273,0.348485
67,2,9268.344828,435.200000,1.144828,0.041379,0.101149,0.071264,0.043678,0.110345,0.050575,0.029885,0.395402,1.963218,0.241379,0.000000,0.080460,0.000000,0.034483
87,3,8914.631491,435.244556,0.757119,0.000000,0.000000,2.911223,0.013400,33.936348,0.000000,0.000000,0.914573,0.000000,0.000000,0.085427,5.525963,30.152429,0.000000
9,4,8940.391429,436.074286,1.914286,0.011429,0.000000,3.111429,0.000000,11.025714,0.000000,0.000000,0.568571,0.000000,0.000000,0.000000,0.311429,10.628571,0.000000
8,5,9288.080092,437.276888,2.340961,0.000000,0.018307,0.000000,0.000000,0.000000,0.000000,0.004577,0.036613,0.263158,0.000000,0.000000,0.032037,0.000000,0.000000

In [6]:
df['slide_id'] = 1

In [7]:
df.head()

,Instance,Centroid_X,Centroid_Y,Mean_CD11B,Mean_CD20,Mean_CD3d,Mean_CD45,Mean_CD4,Mean_CD68,Mean_CD8,Mean_CgA,Mean_Lysozyme,Mean_NaKATPase,Mean_PanCK,Mean_SMA,Mean_Sox9,Mean_Vimentin,Mean_OLFM4,slide_id
84,1,9432.198864,431.250000,3.454545,0.267045,0.202652,0.018939,0.994318,0.168561,0.196970,2.617424,0.962121,2.570076,37.600379,0.000000,2.386364,0.102273,0.348485,1
67,2,9268.344828,435.200000,1.144828,0.041379,0.101149,0.071264,0.043678,0.110345,0.050575,0.029885,0.395402,1.963218,0.241379,0.000000,0.080460,0.000000,0.034483,1
87,3,8914.631491,435.244556,0.757119,0.000000,0.000000,2.911223,0.013400,33.936348,0.000000,0.000000,0.914573,0.000000,0.000000,0.085427,5.525963,30.152429,0.000000,1
9,4,8940.391429,436.074286,1.914286,0.011429,0.000000,3.111429,0.000000,11.025714,0.000000,0.000000,0.568571,0.000000,0.000000,0.000000,0.311429,10.628571,0.000000,1
8,5,9288.080092,437.276888,2.340961,0.000000,0.018307,0.000000,0.000000,0.000000,0.000000,0.004577,0.036613,0.263158,0.000000,0.000000,0.032037,0.000000,0.000000,1

In [ ]:
#Save the dataframe
df.to_csv('/fs5/p_masi/rudravg/MxIF_Vxm_Registered_V2/GCA020TIB_TISSUE01/registered_GCA020TIB_instances.csv', index=False)